.glide{
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}
.glide-Produto{
    width: 100%;
    margin: auto;
}
.img-linhas {
    border-radius: 10%;
    transition: 1s;
    transform: scale(0.85);
}
.img-linhas:hover{
    transform: scale(1);
}
.glide__bullet{
    background-color: rgba(74, 74, 74, 0.5);
}
.glide__bullet--active{
    background-color: black;
}
.glide__arrow{
    border: 2px solid rgb(0, 0, 0);
    transition: .5s all;
    top: 40%;
    transform: translateY(0%);
    border-radius: 50%;
}
.glide__arrow:hover{
    transform: scale(1.0);
    border: 2px solid rgb(0, 0, 0);
}
.glide__arrow:active{
    transform: scale(0.8);
}
.glide__arrow svg{
    color: black;
}
.glide__arrow--left {
    left: -5em;
}
.glide__arrow--right {
    right: -5em;
}
.glide__slides{
    text-align: center;
}
.glide__slide{
    margin: auto;
    height: 100%;
}
.glide__track{
    height: 100%;
}