.CepCalculos{
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 1rem rgb(221,221,221);
    width: 100%;
    display: table;
    vertical-align: top;
    font: inherit;
    margin-top: 10px;
}
.xs{
    display: flex;
    width: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-cep{
    margin-top: 20px;
    padding: 0 10px 0 10px;
    widows: 100px
}
.box-fretes{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.item-frete{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 5px
}
.item-frete h3,
.item-frete h4{
    margin-left: 30px;
}
.carrinhoTtz{
    box-shadow: 0 0 1rem rgb(197,197,197);
    border-radius: 10px;
    width: 89vh;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: auto;
}
.sizeBox{
    min-height: 50px
}
.quantidade-produto a{
    transition: .3s all;
    padding: inherit;
    color: var(--secundaria);
    font-weight: 600;
    font-variant: all-small-caps;
    min-width: 30px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}
.quantidade-produto a:hover{
    color: var(--text-cor1);
    background-color: var(--secundaria);
    border-radius: 5px;
}
.items_valor{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.box_valor{
    box-shadow: 0 0 1rem rgb(197 197 197);
    border-radius: 10px; 
    width: 30%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min-content;
}
.btn_finalizar{
    margin: 5px;
    width: 90%;
}
.quantidade-produto{
    display: flex;
}
.abtn{
    text-align: center;
    border-radius: 14px;
}
.item_carrinho{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 25px;
}
.pro_img{
    height: 150px;
}
.item_carrinho div p{
    min-width: 30px;
}
.alinar_btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linha{
    background-color: black;
    width: 95%;
    height: 1px;
    margin: auto;
}