 table{
    min-width: max-content;
    width: 100%;
    border-collapse: collapse;
    font-family: 'Open Sans';
}
table th{
    height: 50px;
    color: var(--text-cor1);
}
table tr{
    margin: 50px;
    transition: .3s;
}
table td{
    border-bottom: 1px solid var(--text-cor1);
}
table tr:hover{
    background-color: var(--text-cor1);
}
table th,
table td{
    height: 30px;
    color: var(--text-cor2);
    text-align: center;
    padding: 8px 8px;
}
table td a{
    transition: .3s all;
    padding: inherit;
    color: var(--secundaria);
    font-weight: 600;
    font-variant: all-small-caps;
    min-width: 30px;
    cursor: pointer;
    user-select: none;
}
table td a:hover{
    color: var(--text-cor1);
    background-color: var(--secundaria);
    border-radius: 5px;
}
table td span{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.item-table-valor{
    border-bottom: 2px solid var(--text-cor2);
}
.BoxLista{
    overflow-x: auto;
}
.Buscarbox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: none;
    padding: 10px;
}
.Buscar-btn{
    min-width: min-content;
    max-width: 150px;
    padding: revert;
    width: 20%;
}
.BoxListe{
    overflow-x: auto;
}
.BoxListaSize{
    width: 100%;
    margin: auto;
    min-height: 50vh;
    height: auto;
}
.btnDesativar{
    color: var(--Excluir);
    padding: 0 10px 0 10px;
}
.btnDesativar:hover{
    color: var(--text-cor1);
    background-color: var(--Excluir);
        color: var(--Excluir);
    padding: 10px;
    border-radius: 10px;
    transition: .2s;
    color: white;
}
.btnAtivar{
    color: var(--confirmar);
}
.btnAtivar:hover{
    color: var(--text-cor1);
    background-color: var(--confirmar);
}
.Buscarbox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: none;
    padding: 10px;
}
.Buscatext{
    font-size: 14px;
    height: 45px;
    border: none;
    padding-left: 10px;
    margin-right: 5px;
    border-radius: 4px;
    color: var(--text-cor2);
    width: 100%;
}
.Buscabtn{
    min-width: min-content;
    max-width: 150px;
    width: 20%;
    background-color: var(--secundaria);
    color: var(--text-cor1);
    border: none;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.Buscabtn:hover{
    background-color: var(--terciario);
}
