<!DOCTYPE html>
<html lang="pt-br"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro de produto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/MainCss.css}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="shortcut icon" th:href="@{img/newman.ico}" type="image/x-icon">
    </head>
    <body>
        
        <div th:replace="fragments/header :: body"></div>

        <div class="hRtCnc">
            <div class="doTtzZ">
                <div class="cAQjTg">
                    <div class="gAgEMf">

                        <section class="wWWhb">
                            <form action="#" th:action="@{/admin/CadastroProduto}" th:object="${produto}" method="POST">
                                <h2 class="subtitulo-login">Cadastro Produto</h2>
                                <div class="form__div">
                                    <input type="text" class="form__input" name="nome" th:field="*{nome}" placeholder=" ">
                                    <label class="form__label">Nome</label>
                                </div>
                                <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:class="'error-text'">something</p>
                                <div class="form__div">
                                    <input type="text" class="form__input" name="marca" th:field="*{marca}" placeholder=" ">
                                    <label class="form__label">Marca</label>
                                </div>
                                <p th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}" th:class="'error-text'">something</p>
                                <div class="form__div">
                                    <input type="text" class="form__input" name="descricao" th:field="*{descricao}" placeholder=" ">
                                    <label class="form__label">Descricao</label>
                                </div>
                                <p th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" th:class="'error-text'">something</p>
                                <div class="form__div">
                                    <input type="number" class="form__input" name="quantidade" th:field="*{quantidade}" placeholder=" ">
                                    <label class="form__label">Quantidade</label>
                                </div>
                                <p th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}" th:class="'error-text'">something</p>
                                <div class="form__div">
                                    <input type="number" class="form__input decimal" name="v_compra" th:field="*{v_compra}" placeholder=" " step="0.01">
                                    <label class="form__label">Valor de compra</label>
                                </div>
                                <p th:if="${#fields.hasErrors('v_compra')}" th:errors="*{v_compra}" th:class="'error-text'">something</p>
                                <div class="form__div">
                                    <input type="number" class="form__input decimal" name="v_venda" th:field="*{v_venda}" placeholder=" " step="0.01">
                                    <label class="form__label">Valor de venda</label>
                                </div>
                                <p th:if="${#fields.hasErrors('v_venda')}" th:errors="*{v_venda}" th:class="'error-text'">something</p>
                                <div class="form__div BoxInputsRadio">
                                    <h3 class="LabelRadio LabelCenter">Status</h3>
                                    <div class="InputsRadio">
                                        <div class="InputRadioOption">
                                            <input type="radio" class="InputRadio" name="status" value="1" required>
                                            <label class="LabelRadio">Ativo</label>
                                        </div>
                                        <div class="InputRadioOption">
                                            <input type="radio" class="InputRadio" name="status" value="0" required>
                                            <label class="LabelRadio">Desativa</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__div BoxInputsRadio">
                                    <h3 class="LabelRadio LabelCenter">Tags</h3>
                                    <div class="InputsRadio">
                                        <div class="InputRadioOption" th:each="Tag : ${listTags}">
                                            <input type="checkbox" name="tags" th:value="${Tag.id_tag}">
                                            <label class="LabelRadio" th:text="${Tag.nome_tag}">Tag</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-cadastrar">
                                    <button type="submit" class="btn btn-destaque">Cadastrar</button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" th:src="@{/styles/js/Decimal.js}"></script>
    </body>
</html>
