<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <title>New Man</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/MainCss.css}"/>
        <link rel="shortcut icon" th:href="@{img/newman.ico}" type="image/x-icon">
    </head>
    
    <body>
        
        <div th:replace="fragments/header :: body"></div>
        <div class="ConteinerProdutos">
        <div th:replace="fragments/Carousel :: html"></div>
        </div>
        
        <div class="ConteinerProdutos">
            
            <div class="ProdutoBox" th:each="Estoque : ${lista}">
                <div class="Deliniado">
                    <a th:href="@{'../produto?id_produto=' + ${Estoque.id_produto}}">
                        <div class="boximg">
                            <img class="ProdutoImg" th:src="@{'/img/uploads/'+${Estoque.name_IMG}}">
                        </div>
                    </a>
                    <a th:href="@{'../produto?id_produto=' + ${Estoque.id_produto}}">
                        <div class="ProdutoTitolo">
                            <h2><strong th:text="${Estoque.nome}">Nome do produto</strong></h2>
                        </div>
                    </a>
                    <div class="ProdutoPreso">
                        <div class="DivisoriaPreso">
                            <div class="PresoVista">
                                <span>R$</span>
                                <span th:text="${Estoque.v_vista}">50,0</span>
                                <small> á vista</small>
                            </div>
                            <div class="PresoJuros">
                                <span>3x</span>
                                <small> de R$</small>
                                <span th:text="${Estoque.v_juros3v}">${Math.round((Produto.v_venda/3)* 100)/100}</span>
                                <!--<small> sem juros</small>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </body>
</html>
