<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Lista de Tags</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/MainCss.css}"/>
        <link rel="shortcut icon" th:href="@{img/newman.ico}" type="image/x-icon">
    </head>
    <body>
        <div th:replace="fragments/header :: body"></div>
        
        <h1 class="LabelCenter titolo">Lista Produto</h1>
        <div class="ConteinerProdutos">
            <div class="BoxListaSize doTtzZ">
                <form action="/adim/buscar" method="POST">
                    <div class="Buscarbox">
                        <input class="Buscatext" type="text" name="nome">
                        <button class="Buscabtn">Buscar</button>
                    </div>
                </form>
                <div class="BoxListe">
                    <table>
                        <th>ID</th>
                        <th>Nome</th>
                        
                        <tr th:each="tag : ${listaTags}">
                            <td th:text="${tag.id_tag}"></td>
                            <td th:text="${tag.nome_tag}"></td>
                            <td><a th:href="@{'./ExcluirTag?id_tag=' + ${tag.id_tag}}">Excluir</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
