<!DOCTYPE html>
<html lang="pt-br"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>lista endereços</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/MainCss.css}"/>
        <link rel="shortcut icon" th:href="@{img/newman.ico}" type="image/x-icon"/>
    </head>
    <body>
        <div th:replace="fragments/header :: body"></div>
        
        <div class="ConteinerProdutos">
            <div class="BoxListaSize doTtzZ">
                <div class="BoxListe">
                    <table>
                        <th>CEP</th>
                        <th>Endereço</th>
                        <th>Número</th>
                        <th>Complemento</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Prioridade</th>
                        <th>Status</th>
                        <tr th:each="Endereco : ${lista}">
                            <td th:text="${Endereco.cep}"></td>
                            <td th:text="${Endereco.endereco}"></td>
                            <td th:text="${Endereco.numero}"></td>
                            <td th:text="${Endereco.complemento}"></td>
                            <td th:text="${Endereco.bairro}"></td>
                            <td th:text="${Endereco.cidade}"></td>
                            <td th:text="${Endereco.estado}"></td>
                            
                            <td th:if="${Endereco.principalStatus}">Principal</td>
                            <td th:unless="${Endereco.principalStatus}">Secundário</td>
                            
                            <td th:unless="${Endereco.desativado}">Ativo</td>
                            <td th:if="${Endereco.desativado}">Desativo</td>
                            
                            <td th:if="${Endereco.principalStatus}"></td>
                            <td th:unless="${Endereco.principalStatus}"><a th:href="@{'/home/Endereco/Principal/' + ${Endereco.id_Endereco} + '/' + ${Principal}}">Principal</a></td>
                            
                            <td>
                                <a th:unless="${Endereco.desativado}" th:href="@{'/home/Endereco/Desativar/' + ${Endereco.id_Endereco}}" class="btnDesativar">Excluir</a>
                                <a th:if="${Endereco.desativado}" th:href="@{'/home/Endereco/Ativar/' + ${Endereco.id_Endereco}}" class="btnAtivar">Ativar</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <a href="../CadastroEndereco" class="btn btn-secundaria">Adicionar</a>
            </div>
        </div>
    </body>
</html>
