<!DOCTYPE html>
<html lang="pt-br"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field">
    <head>
        <title>lista de Imagen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/MainCss.css}"/>
        <link rel="shortcut icon" th:href="@{img/newman.ico}" type="image/x-icon">
    </head>
    <body>
        <div th:replace="fragments/header :: body"></div>
        
        <div class="ConteinerProdutos">
            <div class="BoxListaSize doTtzZ">
                <a class="addIMG">Adicionar nova imagem</a>
                <div class="BoxListe">
                    <table>
                        <th>ID</th>
                        <th>Imagem</th>
                        <tr th:each="img : ${listaIMG}">
                            <td th:text="${img.id}"></td>
                            <td th:text="${img.name}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
