<!DOCTYPE html>
<html lang="pt-br"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Funcionario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/MainCss.css}"/>
        <link rel="shortcut icon" th:href="@{img/newman.ico}" type="image/x-icon">
    </head>
    <body>
        <div th:replace="fragments/header :: body"></div>
        
        <div class="ConteinerProdutos">
            <div class="BoxListaSize doTtzZ">
                <div class="BoxListe">
                    <table>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Email</th>
                        <th>Grupo</th>
                        <th>Status</th>
                        <tr th:each="funcionario : ${listaFuncionario}">
                            <td th:text="${funcionario.nome}"></td>
                            <td th:text="${funcionario.sobrenome}"></td>
                            <td th:text="${funcionario.email}"></td>
                            <td th:text="${funcionario.atuacao}"></td>
                            
                            <td th:if="${funcionario.status}">Ativo</td>
                            <td th:unless="${funcionario.status}">Desativo</td>
                            
                            <td th:if="${eu} or ${session.Use.Atuacao=='Admin'}" ><a th:href="@{'/admin/AtualizarFuncionario/' + ${funcionario.Id_funcionario}}">Atualizar</a></td>
                            
                            <td th:if="${session.Use.Atuacao=='Admin'}" th:unless="${eu}">
                                <a th:if="${funcionario.status}" th:href="@{'/admin/Desativar/' + ${funcionario.id_funcionario}}" class="btnDesativar">Desativar</a>
                                <a th:unless="${funcionario.status}" th:href="@{'/admin/Ativar/' + ${funcionario.id_funcionario}}" class="btnAtivar">Ativar</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
