<!DOCTYPE html>
<html lang="pt-br"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field">
    <head>
        <title>Mensagem do Servidor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/MainCss.css}"/>
        <link rel="shortcut icon" th:href="@{img/newman.ico}" type="image/x-icon">
    </head>
    <body>
        <div th:replace="fragments/header :: body"></div>
        
        <div style="
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 10%;">
            <h2 th:text="${MSG}">mensagem</h2>
            <form action="./MaisIMG"
                  style="text-align: center; width: 100%;">
                <input type="hidden" name="id_produto" th:value="${img.id_produto}">
                <button class="Buscabtn">Adicionar mais imagem</button>
            </form>
        </div>
    </body>
</html>
