<!DOCTYPE html>
<html lang="pt-br"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro de Imagen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/MainCss.css}"/>
        <link rel="shortcut icon" th:href="@{img/newman.ico}" type="image/x-icon">
    </head>
    <body>
        <div th:replace="fragments/header :: body"></div>

        <div class="hRtCnc">
            <div class="doTtzZ">
                <div class="cAQjTg">
                    <div class="gAgEMf">

                        <section class="wWWhb">
                            <form action="./NewImg" method="POST" enctype="multipart/form-data">
                                <h2 class="subtitulo-login">Adicionar Imagen</h2>
                                <input type="hidden" name="id_produto" th:value="${produto.getId_produto()}">
                                <div class="form__div BoxInputsRadio">
                                    <h3 class="LabelRadio LabelCenter">img</h3>
                                    <div class="InputsRadio">
                                        <input type="file" class="LabelRadio" name="img" required accept="image/png, image/jpeg">
                                    </div>
                                </div>
                                <div class="button-cadastrar">
                                    <button type="submit" class="btn btn-destaque">Cadastrar</button>
                                </div>
                            </form>
                        </section>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
