<!DOCTYPE html>
<html>
    <head>
        <title>Produto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/MainCss.css}"/>
        <link rel="shortcut icon" th:href="@{img/newman.ico}" type="image/x-icon">
    </head>
    <body>
        <div th:replace="fragments/header :: body"></div>
        <div class="ConteinerProdutos2">
            <div class="box-Imagem-produto">
             <img th:src="@{'/img/uploads/'+${produto.name_IMG}}">
            </div>
            <div class="Detalhe-produto">
                <form >
                    <h1 class="text-titulo" th:text="${produto.nome}"></h1>
                    <div class="PresoVista">
                                    <span>R$</span>
                                    <span th:text="${produto.v_vista}">50,0</span>
                                    <small> á vista</small>
                    </div>
                    <div class="PresoJuros">
                                    <span>3x</span>
                                    <small> de R$</small>
                                    <span th:text="${produto.v_juros3v}">${Math.round((Produto.v_venda/3)* 100)/100}</span>
                                    <!--<small> sem juros</small>-->
                     </div>
                    <div class="quantidade_produto">
                        <button type="button" class="remove" id="menos" onclick="less()"> - </button><!-- Adicionar mais produto -->
                         <input type="text" class="quantitySelect" value="1" data-mask="000" id="num"  name="numero">
                         <button type="button" class="add" id="mais"  onclick="more()"> + </button>
                    </div>
                    <!--<h2 class="text-descrition" th:text="|R$ ${produto.v_venda}|"></h2>-->
                    <div class="hr"></div>    
                    <h2 class="text-descrition">Genero</h2>
                    <div class="text-descrition">
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">Masculino</label>
                            <input type="radio" class="InputRadio" name="Genero">
                        </div>
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">Feminino</label>
                            <input type="radio" class="InputRadio" name="Genero">
                        </div>
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">Unisex</label>
                            <input type="radio" class="InputRadio" name="Genero">
                        </div>
                    </div>
                    <h2 class="text-descrition">Tamanho</h2>
                    <div class="text-descrition">  
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">P</label>
                            <input type="radio"  class="InputRadio" name="Tamanho">
                        </div>
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">M</label>
                            <input type="radio" class="InputRadio" name="Tamanho">
                        </div>
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">G</label>
                            <input type="radio" class="InputRadio" name="Tamanho">
                        </div>
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">GG</label>
                            <input type="radio" class="InputRadio" name="Tamanho">
                        </div>
                    </div>
                    <div class="hr"></div>  
                    <div class="Divisor-detalhes"></div>   
                    <div class="btn-comprar">
                    <button class="btn btn-destaque adicionarcarrinho">Compra</button>
                    </div>
                </form>
            </div>
            <script type="text/javascript">
                numero = 1;
                
                function less() {
                  numero--;
                  setValue(numero);
                }

                function more() {
                  numero++;
                  setValue(numero);
                }

                function setValue(value) {
                  document.getElementById('num').value = value;
                }

                setValue(numero);
    </script>
    </body>
</html>