<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Produto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/MainCss.css}"/>
        <link rel="shortcut icon" th:href="@{img/newman.ico}" type="image/x-icon">
    </head>
    <body>
        <div th:replace="fragments/header :: body"></div>
        <h1 class="LabelCenter titolo">Produto</h1>
        <div class="ConteinerProdutos">
            <div class="box-Imagem-produto">
             <img src="">
            </div>
            <div class="Detalhe-produto">
                <form >
                    <h1 class="text-titulo" th:text="${produto.nome}"></h1>
                    <h2 class="text-descrition" th:text="|R$ ${produto.v_venda}|"></h2>
                    <div class="hr"></div>    
                    <h2 class="text-descrition">Genero</h2>
                    <div class="text-descrition">
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">Masculino</label>
                            <input type="radio" class="InputRadio" name="Genero">
                        </div>
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">Feminino</label>
                            <input type="radio" class="InputRadio" name="Genero">
                        </div>
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">Unisex</label>
                            <input type="radio" class="InputRadio" name="Genero">
                        </div>
                    </div>
                    <h2 class="text-descrition">Tamanho</h2>
                    <div class="text-descrition">  
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">P</label>
                            <input type="radio"  class="InputRadio" name="Tamanho">
                        </div>
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">M</label>
                            <input type="radio" class="InputRadio" name="Tamanho">
                        </div>
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio">G</label>
                            <input type="radio" class="InputRadio" name="Tamanho">
                        </div>
                        <div class="alinhamento-inputs-radio">
                            <label class="LabelRadio"> GG</label>
                            <input type="radio" class="InputRadio" name="Tamanho">
                        </div>
                    </div>
                    <div class="hr"></div>  
                    <div class="Divisor-detalhes"></div>   
                    <div class="btn-comprar">
                    <button class="btn btn-destaque adicionarcarrinho">Compra</button>
                    </div>
                </form>
            </div>
    </body>
</html>