<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>detalhes pedidos</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/MainCss.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/pagamento.css}"/>
        <link rel="shortcut icon" th:href="@{img/newman.ico}" type="image/x-icon"/>
    </head>
    <body>
        <div th:replace="fragments/header :: body"></div>
        <h1 class="LabelCenter titolo">Resumo do Pedido</h1>
        <div class="ConteinerProdutos">
            <div class="BoxListaSize doTtzZ" style="min-height: 0;">

                <div class="BoxListe">
                    <table>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Valor Unitário</th>
                        <th>Valor Total</th>

                        <tr th:each="produto : ${session.carrinho.getProdutos()}">
                            <td th:text="${produto.nome}"></td>
                            <td th:text="${produto.quantidade}"></td>
                            <td th:text="|R$ ${produto.v_venda}|"></td>
                            <td th:text="|R$ ${produto.ValorTotal}|"></td>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th class="item-table-valor">Frete</th>
                            <th class="item-table-valor" th:text="|R$ ${session.dadosFrete.valor}|"></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th class="item-table-valor">Total</th>
                            <th class="item-table-valor" th:text="|R$ ${session.carrinho.getTotal()}|"></th>
                        </tr>
                    </table>
                </div>
                <div class="dados-resumo">
                    <div class="frete">
                        <h3>Transportadora</h3>
                        <p class="final-preco-frete" th:text="${session.dadosFrete.nome}"></p>
                    </div>
                    <div class="endereco">
                        <h3>Endereço de entrega</h3>
                        <p class="final" th:text="|${session.enderecoEntrega.endereco}, ${session.enderecoEntrega.numero}|"></p>
                    </div>
                    <div class="formapg">
                        <h3>Forma de pagamento</h3>
                        <p class="final" th:text="${tipoPg.formaPg}">Cartão</p>
                    </div>
                    <div class="formapg" th:if="${tipoPg.cartao}">
                        <h3>Parcelamento</h3>
                        <p class="final" th:text="${tipoPg.cartao}">Cartão</p>
                    </div>
                </div>
                <div style="display: flex; width: 100%;">
                    <div style="
                         padding: 3px;
                         width: 50%;
                         text-align: center;">
                        <a href="./pagamento#none" class="btn-Comprar btn-voltar">Voltar</a>
                    </div><div style="
                               padding: 3px;
                               width: 50%;
                               text-align: center;">
                        <a href="./finalizar" class="btn-Comprar">Concluir</a>
                    </div>
                </div>
            </div>            
        </div>
    </body>
</html>

