<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html
    lang="pt-br"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
         <title>Atualizar Cliente</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/css/MainCss.css}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="shortcut icon" th:href="@{img/newman.ico}" type="image/x-icon">
    </head>
    <body>
  <div th:replace="fragments/header :: body"></div>

        <div class="hRtCnc">
            <div class="doTtzZ">
                <div class="cAQjTg">
                    <div class="gAgEMf">
                        <section class="wWWhb">
                           <form action="../AtualizarCliente" th:action ="@{/home/AtualizarCliente}" onsubmit="return Confirmacao()" method="POST" th:object="${cliente}">
                                <h2 class="subtitulo-login">Atualizar Cliente</h2><!-- titulo -->
                                <input type="hidden" name="id_cliente" th:field="*{id_cliente}">
                                <input type="hidden" name="email" th:field="*{email}">
                                <div class="form__div">
                                    <input type="text" class="form__input" name="nome" th:field="*{nome}" placeholder=" ">
                                    <label class="form__label">Nome</label>
                                </div>
                                 <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:class="'error-text'">something</p>
                                <div class="form__div">
                                    <input type="text" class="form__input" name="sobrenome" th:field="*{sobrenome}" placeholder=" ">
                                    <label class="form__label">Sobrenome</label>
                                </div>
                                <div class="form__div">
                                    <input type="text" class="form__input" name="email" th:field="*{email}" placeholder=" ">
                                    <label class="form__label">Email</label>
                                </div>
                                 <div class="form__div">
                                    <input type="text" class="form__input" name="cpf" th:field="*{cpf}" placeholder=" " id="CPF">
                                    <label class="form__label">CPF</label>
                                </div>
                                 <p th:if="${#fields.hasErrors('nascimento')}" th:errors="*{nascimento}" th:class="'error-text'">something</p>
                                <div class="form__div">
                                    <input type="date" class="form__input" name="nascimento" th:field="*{nascimento}" autocomplete="off" placeholder=" " required>
                                    <label class="form__label">Data de nasimento</label>
                                </div>
                                <p th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" th:class="'error-text'">something</p>
                                <div class="form__div">                                
                                    <select class="form__input" name="sexo" id="Sexo">
                                        <option selected hidden value="">Sexo</option>
                                        <option value="M">Mascolino</option>                                    
                                        <option value="F">Feminino</option>
                                    </select>
                                </div>
                                <div class="button-cadastrar">
                                <button type="submit" class="btn btn-destaque">Atualizar</button>
                                </div>  
                              </div>     
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/styles/js/Login.js}"></script>
    </body>
</html>
